<!-- new.ejs -->
<html>
  <head>
    <title>New Message</title>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
  </head>
  <body>
    <a href="./">Home</a>
    <h1>New Message:</h1>
    <form method="POST" action="/new">
      <label for="author">Author:</label>
      <input type="text" name="author" id="author">

      <label for="msg">Message:</label>
      <input type="text" name="msg" id="msg">
      <button type="submit">Post</button>
    </form>
  </body>
</html>